@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#form {
    padding: 0%;
    margin-left: 20%;
    margin-right: 20%;
}

#titulo {
    text-align: center;
}